<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">

		<section class="jumbotron text-center">
			<img class="d-block mx-auto" th:src="@{/image/spring-security.png}"
				width="72" height="72">
			<div class="container">
				<h1 class="jumbotron-heading">Uploader CNAB</h1>
				<p class="lead text-muted">Lista de Operações</p>
			</div>
		</section>

		<div class="album py-5 bg-light">
			<div class="container">

				<div class="row">
					<div class="col-md-12">

						<div th:if="${!data.empty}" class="d-flex justify-content-between align-items-center">
							<h2>Operações</h2>
						</div>

						<div th:if="${data.empty}" class="jumbotron">
							<h1 class="display-4">Opss!</h1>
							<p class="lead">Parece que ainda não existem operações no nosso sistema.</p>
							<hr class="my-4">
							<p>Você pode adicionar novas operações clicando no botão abaixo</p>
							<a class="btn btn-primary btn-lg" th:href="@{/operations}" role="button">Importar CNAB</a>
						</div>


						<div th:if="${!data.empty}"  th:each="stock : ${data}">
							<div class="accordion" id="accordionExample">
								<div class="card">
									<div class="card-header" th:id="${'headind' + stock.id}">
										<h2 class="mb-0">
											<button
													class="btn btn-link btn-block text-left d-flex justify-content-between "
													type="button"
													data-toggle="collapse"
													th:data-target="${'#collapse' + stock.id}"
													aria-expanded="true"
													th:aria-controls="${'collapse' + stock.id}"
											>
												<span th:text="${stock.storeName}"></span>
												<span th:text="${'Total: ' + stock.balance}"></span>
											</button>
										</h2>
									</div>

									<div>
										<div th:id="${'collapse' + stock.id}" class="collapse" th:aria-labelledby="${'heading' + stock.id}" data-parent="#accordionExample">
											<div class="card-body">
												<div class="d-flex flex-column mb-3">
													<div class="mb-1">
														<span>Dono da Loja: </span>
														<strong th:text="${stock.storeOwner}"></strong>
													</div>
													<div class="mb-1">
														<span>Documento: </span>
														<strong th:text="${stock.document}"></strong>
													</div>
												</div>
												<table class="table table-striped">
													<thead>
													<tr>
														<th scope="col">#</th>
														<th scope="col">Número do Cartão</th>
														<th scope="col">Tipo do Cartão</th>
														<th scope="col">Natureza</th>
														<th scope="col">Valor</th>
														<th scope="col">Data</th>
													</tr>
													</thead>
													<tbody>
													<tr th:each="operation : ${stock.operations}">
														<td><span th:text="${operation.id}"> # </span></td>
														<td><span th:text="${operation.cardNumber}"> Número do Cartão </span></td>
														<td><span th:text="${operation.typeOperation}"> Tipo do Cartão </span></td>
														<td><span th:text="${operation.typeNature}"> Natureza </span></td>
														<td><span th:text="${operation.value}"> Valor </span></td>
														<td><span th:text="${operation.date}"> Data </span></td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		</main>
		
	</section>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>